<div class="min-h-screen flex flex-col lg:flex-row">
  <!-- Logo Section -->
   <img src="./assets/images/full-logo.jpeg" class="absolute w-[100px] top-4 left-4 ml-4 mt-0 cursor-pointer ease-in-out hover:underline"
    alt="indiqube"/>

  <!-- Left Column -->
  <div class="w-full lg:w-1/2 bg-gray-100 p-0">
    <div class="min-h-screen flex items-center justify-center bg-white">
      <div class="bg-white max-w-xs w-full" style="height: 430px; max-height: 430px;">
        <!-- Header -->
        <img src="./assets/images/half-logo.jpeg" class="mx-auto mb-4 w-[30px]" alt="indiqube"/>
        <h1 class="font-semibold mb-6 text-center">Sign in</h1>
        <!-- Error Message -->
        <div *ngIf="errorMessage" class="text-red-500 font-poppins mb-4">
          {{ errorMessage }}
        </div>

        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <!-- Email Input -->
          <div class="relative w-full">
            <mat-form-field class="custom-field"
            [ngStyle]="{'padding-bottom':loginForm.get('email')?.invalid && loginForm.get('email')?.touched ? '14px':''}"
             appearance="outline" class="w-full">
              <mat-label>Email</mat-label>
              <input matInput 
              formControlName="email"
              type="email"
              >
                <mat-error *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
              Email is required
              </mat-error>

              <mat-error *ngIf="loginForm.get('email')?.hasError('pattern') && loginForm.get('email')?.touched && !loginForm.get('email')?.hasError('required')">
              Valid email required
              </mat-error>

            </mat-form-field>

            <mat-form-field 
              class="custom-field"
              [ngStyle]="{'padding-bottom':loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched ? '14px':''}"
                appearance="outline" class="w-full"
             >
              <mat-label>Password</mat-label>
              
              <input matInput 
              formControlName="password" 
              [type]="isPasswordVisible ? 'text' : 'password'"
              >
              <mat-error *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">Password is required</mat-error>      
              <button
              type="button"
              (click)="togglePasswordVisibility()"
              class="absolute inset-y-0 right-2 flex items-center cursor-pointer"
            >
            <img *ngIf="isPasswordVisible"
            src="assets/icons/eye-open.svg"
            alt="image"
          />
              <img *ngIf="!isPasswordVisible"
              src="assets/icons/eye-close.svg"
              alt="image"
            />
            </button>
            </mat-form-field>
           
          </div>

          <!-- hint message before submit -->
           <div class="text-xs">
            By continuing you agree to our 
            <span class="color-green underline cursor-pointer" (click)="onClickTerms()">Terms of Service</span> and 
            <span class="color-green underline">Privacy Policy</span>
           </div>
          <!-- Submit Button -->
          <button
            type="submit"
            class="w-full mb-8 mt-5 p-3 bg-[#1A0F92] text-white font-400 rounded-full disabled:bg-gray-400 disabled:cursor-not-allowed"
          >
            Continue
          </button>

          <div class="text-center">
            <a href="/forgotPassword" class="text-sm color-green underline hover:cursor-pointer">Forgot password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Right Column -->
  <div class="hidden lg:block m-0 max-h-screen lg:w-1/2 bg-[#00695C]">
    <img
      src="assets/coverPage.jpg"
      alt="image"
      srcset=""
      class="h-full w-full"
    />
  </div>
</div>
