<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" 
[selectedIndex]="activeTabIndex" animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Work Permits">
    <app-top-card
    [topStatus]="wpStatus"
    [activeTabIndex]="activeTabIndex"
    (clickedStatus)="onStatusClick($event)">
    </app-top-card>
   <app-mat-table
    [data]="tableData"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [requiredRightSpace]="false"
    (action)="onAction($event)"
    (DateChange)="dateChange($event)"
    [actionMenu]="actionMenu"
    [clickedTopStatus]="clickedTopStatus"
    [sticky]="true"
    [requiredDateRange]="true"
    [activeTabIndex]="activeTabIndex"
    [clearSearchEvent]="clearSearchEvent"
></app-mat-table>
  </mat-tab>
  <mat-tab label="Incident">
    <app-top-card
    [topStatus]="inStatus"
    [activeTabIndex]="activeTabIndex"
    (clickedStatus)="onStatusClick($event)">
    </app-top-card>
   <app-mat-table
    [data]="tableData"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [requiredRightSpace]="false"
    (action)="onAction($event)"
    [actionMenu]="actionMenuIncident"
    [clickedTopStatus]="clickedTopStatus"
    [sticky]="true"
    [requiredDateRange]="true"
    [activeTabIndex]="activeTabIndex"
    (DateChange)="dateChange($event)"
     [clearSearchEvent]="clearSearchEvent"
></app-mat-table>
  </mat-tab>
</mat-tab-group>

<div class="custom-popup" *ngIf="openDilog">
  <div class="custom-popup-content">
    <div class="popup-header">
      <h1>{{selectedAction === 'view'? 'View' : 'Edit'}} {{activeTabIndex === 0 ? 'work permit':'Incident'}}</h1>
       <button (click)="openDilog = false" class="close-popup">X</button>
    </div>
    <div class="popup-body">
      <app-requst-workflow 
       [workflow]="dataById.workflow || []">
       </app-requst-workflow>
      <app-create-request 
        [dataById]="dataById" 
        [selectedAction]="selectedAction" 
        (CloseEvent)="onClose($event)"
        [requestType]="activeTabIndex === 0 ? 1 : 2"
        >
      </app-create-request>
    </div>
  </div>
</div>
