<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="Work Permits">
    <app-top-card
    [topStatus]="wpStatus"
    (cardClick)="onStatusClick($event)">
    </app-top-card>
   <app-mat-table
    [data]="tableData"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [requiredRightSpace]="false"
    (action)="onAction($event)"
    [actionMenu]="actionMenu"
></app-mat-table>
  </mat-tab>
  <mat-tab label="Incident">
    <app-top-card
    [topStatus]="wpStatus"
    (cardClick)="onStatusClick($event)">
    </app-top-card>
   <app-mat-table
    [data]="[]"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [requiredRightSpace]="false"
></app-mat-table>
  </mat-tab>
</mat-tab-group>

<div class="custom-popup" *ngIf="openDilog">
  <div class="custom-popup-content">
  <button (click)="openDilog = false" class="close-popup">X</button>
  <app-add-work-permit [dataById]="dataById" 
  [selectedAction]="selectedAction">
  </app-add-work-permit>
  </div>
</div>