<nav
class="flex items-center justify-between p-4 bg-white text-black border-b border-gray-300 sticky top-0 z-10"
>
<div class="flex items-center">
  <button  *ngIf="isMobile" mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon> &nbsp;
  </button>
   <h2 class="welcome-msg">
    <span class="username hidden md:block">Hey {{user?.firstName}} {{user?.lastName}} ,</span>
    <span class="welcome hidden md:block">welcome to <strong>Qubesafe</strong>.</span>
  </h2>
</div>
<div class="flex items-center relative">
 <div class="help" [matMenuTriggerFor]="matUserGuide" title="User guide for work permit and incident">
  <mat-icon>help_outline</mat-icon>
 </div> 
<div class="profile-circle bg-green">
<span>{{user?.firstName?.charAt(0) || ''}}</span>
</div>
<div [matMenuTriggerFor]="menu" class="flex ml-[10px] cursor-pointer">
  <span>{{user?.roleName}}</span>
  <mat-icon>keyboard_arrow_down</mat-icon>
</div>
<mat-menu #menu="matMenu">
<button mat-menu-item (click)="userProfile()">My profile</button>
<button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>

<mat-menu #matUserGuide="matMenu">
<button class="cursor-pointer" mat-menu-item (click)="openPdfInNewTab(1)">Work Permit</button>
<button class="cursor-pointer" mat-menu-item (click)="openPdfInNewTab(2)">Incident</button>
</mat-menu>
</div>
</nav>