<h2 mat-dialog-title>{{ isEditMode ? 'Edit User' : 'Add User' }}</h2>

<mat-dialog-content [formGroup]="userForm">

  <!-- FIRST 2 ROWS -->
  <div class="form-grid">

    <!-- Row 1 -->
    <div class="form-field">
      <mat-label>First Name</mat-label><span>*</span>
      <input matInput formControlName="firstName" class="custom-input" />
    </div>

    <div class="form-field">
      <mat-label>Last Name</mat-label><span>*</span>
      <input matInput formControlName="lastName" class="custom-input"/>
    </div>

    <div class="form-field">
      <mat-label>Employee ID</mat-label><span>*</span>
      <input matInput formControlName="employeeId" class="custom-input" />
    </div>

    <!-- Row 2 -->
    <div class="form-field">
      <mat-label>Email</mat-label><span>*</span>
      <input matInput formControlName="email" class="custom-input" />
      <mat-error *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched">
        Email is required
        </mat-error>

        <mat-error *ngIf="userForm.get('email')?.hasError('pattern') && userForm.get('email')?.touched && !userForm.get('email')?.hasError('required')">
        Valid email required
        </mat-error>
    </div>

    <div class="form-field">
      <mat-label>Mobile</mat-label><span>*</span>
      <input matInput formControlName="mobile" maxlength="10"
        (keypress)="allowOnlyNumbers($event)"  class="custom-input" />
        <mat-error *ngIf="userForm.get('mobile')?.hasError('pattern')">
        <span style="font-size: 12px;">Enter a valid 10-digit number</span>
      </mat-error>
    </div>

    <div class="form-field">
      <mat-label>Role</mat-label><span>*</span>
      <mat-select formControlName="roleId" class="custom-select">
        <mat-option *ngFor="let role of lookupService.roles()" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </div>
  </div>


  <div class="location-header">
  <span>Locations</span>
  <div class="line"></div>
</div>
  <!-- DYNAMIC LOCATION ARRAY -->
  <div formArrayName="locations" style="margin-top:16px;">

    <ng-container *ngFor="let loc of locations.controls; let i = index">
        <div *ngIf="loc.value.isActive" [formGroupName]="i" class="form-grid location-row">
      <div class="form-field">
        <mat-label>Location</mat-label><span>*</span>
        <mat-select formControlName="locationId" class="custom-select"
          (selectionChange)="onLocationChange($event.value, i)">
          <mat-option *ngFor="let l of lookupService.facilityZoneLocation()" [value]="l.id">
            {{ l.name }}
          </mat-option>
        </mat-select>
      </div>

      <div class="form-field">
        <mat-label>Zone</mat-label><span>*</span>
        <mat-select formControlName="zone" class="custom-select"
          (selectionChange)="onZoneChange($event.value, i)">
          <mat-option *ngFor="let z of zoneOptions[i]" [value]="z.id">
            {{ z.name }}
          </mat-option>
        </mat-select>
      </div>

      <div class="form-field">
        <mat-label>Facility</mat-label><span>*</span>
        <mat-select formControlName="facility" class="custom-select">
          <mat-option *ngFor="let f of facilityOptions[i]" [value]="f.id">
            {{ f.name }}
          </mat-option>
        </mat-select>
      </div>

      <!-- ACTION BUTTONS -->
      <div class="action-buttons">
        <button mat-mini-fab color="primary" (click)="addLocation()">+</button>
        <button mat-mini-fab color="warn" *ngIf="activeLocationsCount > 1"
          (click)="removeLocation(i)">-</button>
      </div>
      </div>
    </ng-container>
  </div>
  

</mat-dialog-content>

<mat-dialog-actions>
  <div class="footer">
    <div class="left-block">
      <p class="error">{{ errorMsg }}</p>
      <div *ngIf="locations.errors?.['duplicate']" class="error">
        Duplicate Location + Zone + Facility not allowed
      </div>
    </div>

    <div class="right-block">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-flat-button color="primary"
        [disabled]="userForm.invalid || loading || locations.errors?.['duplicate']" (click)="onSubmit()">
        {{ loading ? 'Please wait...' : (isEditMode ? 'Update' : 'Create') }}
      </button>
    </div>
  </div>
</mat-dialog-actions>