.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-field {
  flex: 1 1 45%;
  min-width: 200px;
   --mat-form-field-container-height: 36px;
  --mat-form-field-container-vertical-padding:8px;
}

.form-field span{
  color:#dc0000;
  font-size: 12px;
}

.w-100 {
  width: 100%;
}

