<h2 mat-dialog-title>{{ isEditMode ? 'Edit User' : 'Add User' }}</h2>

<mat-dialog-content [formGroup]="userForm">
  <div class="form-grid" style="margin-top:12px;">
    <div class="form-field">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Employee ID</mat-label>
        <input matInput formControlName="employeeId" />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile" maxlength="10" inputmode="numeric"  (keypress)="allowOnlyNumbers($event)"/>
      </mat-form-field>
      <mat-error *ngIf="userForm.get('mobile')?.hasError('pattern')">
        <span style="font-size: 12px;">Enter a valid 10-digit number</span>
      </mat-error>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Role ID</mat-label>
        <mat-select formControlName="roleId">
          <mat-option *ngFor="let role of lookupService.roles()" [value]="role.id">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Location</mat-label>
        <mat-select formControlName="facilityZoneLocation">
          <mat-option *ngFor="let loc of lookupService.facilityZoneLocation()" [value]="loc.id">
            {{ loc.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Zone</mat-label>
        <mat-select formControlName="zone" (selectionChange)="onZoneChange($event.value)">
          <mat-option *ngFor="let zone of lookupService.zones()" [value]="zone.id">
            {{ zone.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Facility</mat-label>
        <mat-select formControlName="facility">
          <mat-option *ngFor="let facility of lookupService.zoneFacility()" [value]="facility.id">
            {{ facility.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="mr-[16px]">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" [disabled]="userForm.invalid" (click)="onSubmit()" style="color:#fff;">
      {{ isEditMode ? 'Update' : 'Create' }}
    </button>
  </div>
</mat-dialog-actions>