<div class="dynamic-from-wrapper">
<ng-container *ngIf="config">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let section of config.formDetails?.sections" class="section">
      <h2>{{ section.sectionTitle }}</h2>
      <div class="grid-layout">
        <div *ngFor="let field of section.fields" class="grid-col"
         [ngClass]="'col-' + field.colSpan">
            <ng-template 
              appDynamicField
                [field]="field"
                [form]="form"
                [selectedAction]="selectedAction"
                >
            </ng-template>
        </div>
      </div>
    </div>
  </form>
</ng-container>
</div>