
<div class="add-work-permit">
    <h1 style="padding-bottom: 10px;" *ngIf="id === 0">
       <ng-container *ngIf="requestType === 1; else incidentType">
          Create work permit
       </ng-container> 
       <ng-template #incidentType>
        Create an Incident
       </ng-template>
    </h1>
<div class="card" [formGroup]="mainForm" style="margin-bottom: 15px;">
    <div class="grid-layout">
        <div class="grid-col col-3">
            <mat-label>Location</mat-label><span class="text-red-500">*</span>
            <mat-select 
            formControlName="facilityZoneLocation" 
            class="custom-select" 
            (selectionChange)="onLocationChange($event.value)"
            placeholder="Select location">
                <mat-option *ngFor="let loc of lookupService.facilityZoneLocation()" [value]="loc.id">
                    {{ loc.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="mainForm.get('facilityZoneLocation')?.hasError('required') && mainForm.get('facilityZoneLocation')?.touched">
            Location is required
            </mat-error>
        </div>
        <div class="grid-col col-3">
            <mat-label>Zone</mat-label> <span class="text-red-500">*</span>
            <mat-select formControlName="zone" class="custom-select" placeholder="Select zone"
                (selectionChange)="onZoneChange($event.value)">
                <mat-option *ngFor="let zone of lookupService.zones()" [value]="zone.id">
                    {{ zone.name }}
                </mat-option>
            </mat-select>
             <mat-error *ngIf="mainForm.get('zone')?.hasError('required') && mainForm.get('zone')?.touched">
            Zone is required
            </mat-error>
        </div>

         <div class="grid-col col-3" *ngIf="showProject">
            <mat-label>Project</mat-label>
            <input matInput type="text" formControlName="project" class="custom-input" placeholder="Project">
        </div>

        <div class="grid-col col-3">
            <mat-label>Facility</mat-label><span class="text-red-500">*</span>
            <mat-select formControlName="facility" placeholder="Select facility" class="custom-select">
                <mat-option *ngFor="let facility of lookupService.zoneFacility()" [value]="facility.id">
                    {{ facility.name }}
                </mat-option>
            </mat-select>
             <mat-error *ngIf="mainForm.get('facility')?.hasError('required') && mainForm.get('facility')?.touched">
            Facility is required
            </mat-error>
        </div>

        <div class="grid-col col-3">
            <mat-label>{{labelText}}</mat-label><span class="text-red-500">*</span>
            <mat-select formControlName="workPermit" [matTooltip]="isTargetDisabled ? 'Please fill Location, Zone and Facility' : ''"
    [matTooltipDisabled]="!isTargetDisabled"
    matTooltipPosition="above" [placeholder]="labelText" class="custom-select"
                (selectionChange)="onWorkPermitChange($event.value)">
                <mat-option *ngFor="let permit of optionsList" [value]="permit.id">
                    {{ permit.name }}
                </mat-option>
            </mat-select>
             <mat-error *ngIf="mainForm.get('workPermit')?.hasError('required') && mainForm.get('workPermit')?.touched">
            {{labelText}} is required
            </mat-error>
        </div>
    </div>

</div>
<div class="card" *ngIf="formConfig" style="padding-top: 0px;">
<app-dynamic-form 
    [config]="formConfig" 
    [formData]="dataById"
    (formReady)="onDynamicFormReady($event)"
    [selectedAction]="selectedAction"
  ></app-dynamic-form>
<div class="flex justify-end" *ngIf="selectedAction !== 'view'">
      <button mat-raised-button  *ngIf="!loading" color="primary" type="submit" (click)="onSave()">
      {{id === 0 ? 'Create': 'Update'}}
    </button>
    <button mat-flat-button color="primary" *ngIf="loading">
      <div class="flex gap-2">
        <div class="custom-loader"><mat-spinner diameter="20"></mat-spinner></div>
      <div>Please wait...</div>
      </div>
      
    </button>
</div>
  
</div>
</div>