.mat-table-container {
  width: 100%;
  overflow: auto;
}

mat-form-field {
  width: 100%;
}


.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
    --mat-form-field-container-height: 32px;
  --mat-form-field-container-vertical-padding:6px;
}


