.mat-table-container {
  width: 100%;
  overflow: auto;
}

mat-form-field {
  width: 100%;
}
.table .mat-mdc-cell, .mat-mdc-header-cell{
  max-width: 200px;
  min-width: 96px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header-title{
  flex: 1 1 100%;
}
.header-search{
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

/* Dynamic background-colors */
.status.pending {
  background-color: #f6c23e;
}

.status.approved {
  background-color: #1cc88a;
}

.status.rejected {
  background-color: #e74a3b;
}

.status.closed {
  background-color: #7b56dc;
}

.status.inprogress {
  background-color: #36b9cc;
}

@media (min-width:768px){
  .header-title{
    flex: 0 0 auto;
  }
  .header-search{
    flex: 0 0 auto;
  }
}




