.rules {
    list-style: none;
    padding: 0;
    font-size: 12px;
    color:#111827;
  }
  .rules li {
    display: flex;
    align-items: center;
    margin: 6px 0;
    font-size: 14px;
  }
  .rules li .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #6B7280;
    margin-right: 8px;
    position: relative; /* Important for pseudo element */
  }
  
  .rules li.passed .circle {
    border-color: #034B48;
    background-color:#034B48;
  }

  .rules li.passed .circle::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 2.9px;
    width: 3px;
    text-align: center;
    height: 5px;
    border-right: 1.5px solid white;
    border-bottom: 1.5px solid white;
    transform: rotate(45deg);
  }

  
  .rules li.failed {
    color: red;
  }
  .rules li.failed .circle {
    border-color: red;
  }
  .full-width {
    width: 100%;
  }
  .actions {
    margin-top: 20px;
  }
  