<div class="min-h-screen flexmin-h-screen flex flex-col lg:flex-row" [ngClass]="userType === 'admin' ? '': ''">
    <!-- Logo Section -->
    <img src="./assets/images/full-logo.jpeg"
        class="w-[100px] absolute top-4 left-4 ml-4 mt-0 cursor-pointer ease-in-out hover:underline" alt="PL8" />

    <!-- Left Column -->
    <div class="w-full bg-gray-100 p-0">
        <div class="min-h-screen flex items-center justify-center bg-white">
            <div class="bg-white max-w-xs">
                <img src="./assets/images/qube-safe.png" class="mx-auto w-[130px]" alt="indiqube"/>
                <form [formGroup]="passwordForm">
                    <h1 class="font-semibold mb-6 text-center">Reset password</h1>
                    <mat-form-field class="custom-field"
                        [ngStyle]="{'padding-bottom':passwordForm.get('email')?.invalid && passwordForm.get('email')?.touched ? '14px':''}"
                        appearance="outline" class="w-full">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email">
                        <mat-error
                            *ngIf="passwordForm.get('email')?.hasError('required') && passwordForm.get('email')?.touched">
                            Email is required
                        </mat-error>

                        <mat-error
                            *ngIf="passwordForm.get('email')?.hasError('pattern') && passwordForm.get('email')?.touched && !passwordForm.get('email')?.hasError('required')">
                            Valid email required
                        </mat-error>
                    </mat-form-field>
             <ng-container *ngIf="otpRequested">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>OTP</mat-label>
                        <input matInput type="input" formControlName="otp" />
                        <mat-error *ngIf="passwordForm.get('otp')?.hasError('required')">
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" />
                        <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
                        </mat-error>
                    </mat-form-field>
                     <button [disabled]="passwordForm.invalid" (click)="onSubmit()"
                        class="w-full mb-8 mt-5 p-3 bg-[#1A0F92] text-white  font-400 rounded-full disabled:bg-gray-400 disabled:cursor-not-allowed">
                        Reset Password
                    </button>
                     </ng-container>

                    <button *ngIf="!otpRequested" (click)="getOtp()"
                        class="w-full mb-8 mt-5 p-3 bg-[#1A0F92] text-white e font-400 rounded-full disabled:bg-gray-400 disabled:cursor-not-allowed">
                        Get OTP
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Right Column -->
    <div *ngIf="userType === 'admin'" class="hidden lg:block m-0 max-h-screen lg:w-1/2 bg-[#00695C]">
        <img src="assets/coverPage.jpg" alt="image" srcset="" class="h-full w-full" />
    </div>
</div>