<div class="min-h-screen flexmin-h-screen flex flex-col lg:flex-row" [ngClass]="userType === 'admin' ? '': ''">
    <!-- Logo Section -->
    <img src="./assets/images/full-logo.svg"
        class="absolute top-4 left-4 ml-4 mt-0 cursor-pointer ease-in-out hover:underline" alt="PL8" />

    <!-- Left Column -->
    <div class="w-full bg-gray-100 p-0">
        <div class="min-h-screen flex items-center justify-center bg-white">
            <div class="bg-white max-w-xs w-full">
                <img src="./assets/images/half-logo.svg" class="mx-auto mb-4" alt="PL8" />
                <form [formGroup]="passwordForm" *ngIf="currentStep === 1">
                    <h1 class="text-3xl font-semibold mb-8 mt-4" *ngIf="userType !== 'admin'">
                        Choose a password
                    </h1>
                    <h1 class="font-semibold mb-6 text-center" *ngIf="userType === 'admin'" style="line-height: 38px;">
                        Set up <br/> your account
                    </h1>

                    <mat-form-field appearance="outline" class="full-width" [hideRequiredMarker]="true">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" (input)="onPasswordChange()" />
                        <mat-error *ngIf="passwordForm.get('password')?.hasError('required') && showErrors">
                        </mat-error>
                    </mat-form-field>
                    <h4 class="text-sm font-semibold mb-2">Your password must contain at least</h4>
                    <ul class="rules ml-2">
                        <li [ngClass]="{ passed: rules.minLength, failed: shouldShowRed('minLength') }">
                            <div class="circle">
                            </div> 8 characters
                        </li>
                        <li [ngClass]="{ passed: rules.uppercase, failed: shouldShowRed('uppercase') }">
                            <span class="circle">
                            </span> 1 uppercase
                        </li>
                        <li [ngClass]="{ passed: rules.number, failed: shouldShowRed('number') }">
                            <span class="circle">
                            </span> 1 number
                        </li>
                        <li [ngClass]="{ passed: rules.symbol, failed: shouldShowRed('symbol') }">
                            <span class="circle">
                            </span> 1 symbol (!#$)
                        </li>
                    </ul>

                        <button (click)="goToStep2()"
                            class="w-full mb-8 mt-5 p-3 bg-[#034B48] text-white font-400 rounded-full disabled:bg-gray-400 disabled:cursor-not-allowed">
                            Next
                        </button>
                </form>

                <form [formGroup]="personalForm" *ngIf="currentStep === 2">
                    <h1 class="text-3xl font-semibold mb-6">Tell us a little bit <br /> about yourself</h1>

                    <mat-form-field appearance="outline" class="full-width" [hideRequiredMarker]="true" >
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" formControlName="firstName" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width" [hideRequiredMarker]="true" >
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" formControlName="lastName" />
                    </mat-form-field>
                    <h2 class="font-semibold text-base">Select your job title or position</h2>
                    <mat-radio-group class="example-radio-group" [color]="color">
                        <mat-radio-button [disableRipple]="true"  [value]="'Business owner'">Business dfs owner</mat-radio-button>
                        <mat-radio-button [disableRipple]="true" [value]="'Manager/Authorized rep'">Manager/Authorized rep</mat-radio-button>
                    </mat-radio-group>

                        <button (click)="onNextClick()"
                            class="w-full mb-8 mt-5 p-3 bg-[#034B48] text-white font-400 rounded-full disabled:bg-gray-400 disabled:cursor-not-allowed">
                            Next
                        </button>
                </form>

                <form [formGroup]="businessForm" *ngIf="currentStep === 3">
                    <h1 class="text-3xl font-semibold mb-6">Tell us about your <br /> business</h1>
                    <ng-container *ngIf="userType === 'parking'">
                        <mat-form-field appearance="outline"  [hideRequiredMarker]="true" class="full-width">
                            <mat-label>Business name</mat-label>
                            <input matInput type="text" formControlName="businessName" />
                        </mat-form-field>

                        <mat-form-field appearance="outline" [hideRequiredMarker]="true" class="full-width">
                            <mat-label>Street address</mat-label>
                            <input matInput type="text" formControlName="streetAddress" />
                        </mat-form-field>
                        <div style="display: flex; gap: 16px;">
                            <mat-form-field appearance="outline"  [hideRequiredMarker]="true">
                                <mat-label>City</mat-label>
                                <input matInput type="text" formControlName="city" />
                            </mat-form-field>
                            <mat-form-field appearance="outline"  [hideRequiredMarker]="true">
                                <mat-select [(value)]="selectedState" placeholder="State" formControlName="state">
                                  <mat-option *ngFor="let state of states" [value]="state.short">
                                    {{state.full}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div style="display: flex; gap: 16px;">
                            <mat-form-field appearance="outline"  [hideRequiredMarker]="true">
                                <mat-label>Zip code</mat-label>
                                <input matInput type="text" formControlName="zipcode" />
                            </mat-form-field>
                            <mat-form-field appearance="outline"  [hideRequiredMarker]="true">
                                <mat-label>Country</mat-label>
                                <input matInput type="text" formControlName="country" [readonly]="true" />
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="userType === 'driving'">
                        <mat-form-field appearance="outline"  [hideRequiredMarker]="true" class="full-width">
                            <mat-label>Business name</mat-label>
                            <input matInput type="text" formControlName="businessName" />
                        </mat-form-field>
                        <h2 class="font-semibold text-base">Which best describes your business?</h2>
                        <mat-radio-group class="custom-radio-group">
                            <mat-radio-button disableRipple [value]="1">Carshare (i.e. Turo)</mat-radio-button>
                            <mat-radio-button disableRipple [value]="2">Rideshare (i.e. Uber)</mat-radio-button>
                            <mat-radio-button disableRipple [value]="3">Commercial fleet</mat-radio-button>
                            <mat-radio-button disableRipple [value]="4">Other</mat-radio-button>
                        </mat-radio-group>

                    </ng-container>

                        <button
                            class="w-full mb-8 mt-5 p-3 bg-[#034B48] text-white font-400 rounded-full disabled:bg-gray-400 disabled:cursor-not-allowed">
                            Next
                        </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Right Column -->
    <div *ngIf="userType === 'admin'" class="hidden lg:block m-0 max-h-screen lg:w-1/2 bg-[#00695C]">
          <img
            src="assets/coverPage.jpg"
            alt="image"
            srcset=""
            class="h-full w-full"
          />
        </div>
</div>