<div class="stats-container" [ngClass]="activeTabIndex === 0? 'wpCard':'inCard'">
  <div 
    class="stat-card" 
    *ngFor="let item of topStatus" 
    [ngClass]="[
  getClassName(item.status),
  activeTabIndex === 0 ? 'five-col' : 'seven-col'
]"
    (click)="onClickStatus(item.status)"
    [ngStyle]="{}"
  >
    <div class="stat-header">
      <!-- <span class="stat-icon">{{ item.icon }}</span> -->
        <mat-icon *ngIf="activeTabIndex === 0">{{ item.icon }}</mat-icon>
      <span class="stat-label ellipsis" [title]="item.status">{{ item.status }}</span>
    </div>
    <div class="stat-count">{{ item.count }}</div>
  </div>
</div>
